<nav class="navbar navbar-expand-lg" style="background-color: white">
  <img src="final.png" alt="">

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mx-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/payment" routerLinkActive="active">Pay</a>
      </li>

      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Profile</a>
      </li>



<!--      <li class="nav-item" *ngIf="isLoggedIn && role === 'admin'">-->
<!--        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Admin Dashboard</a>-->
<!--      </li>-->
    </ul>

    <!-- Right side icons and logout -->
    <ul class="navbar-nav ms-auto align-items-center">
      <li class="nav-item">
        <div class="admin-icon" (click)="navigateToLogin('Admin')" title="Admin Access" style="cursor:pointer;">
          <img src="settings.png" alt="Settings" style="height:24px;">
        </div>
      </li>

      <li class="nav-item" *ngIf="isLoggedIn">
        <button class="btn btn-outline-danger ms-3" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>
