img {
  opacity: .3;
}

.container {
  display: flex;
  background-color: #EDF4F9;
  justify-content: space-around;
  height: calc(100vh - 140px);
}
form{
  display: flex;
  flex-direction: column;
}

p {
  text-align: center;
  font-size: 20px;
}

input {
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #CCE9FD;
  width: 500px;
  margin: 10px;
  padding: 20px;
  font-size: 15px;
}

input:focus {
  border-color: #007bff;
}

button {
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #CCE9FD;
  width: 550px;
  margin: 10px;
  padding: 20px;
  font-size: 15px;
  cursor: pointer;
}
