<div class="container ">

  <img src="skeleton.png">

<!--  <div class="inputs">-->
<!--    <app-input placeholder="Enter your Email">-->
<!--      <span input-label>Username or Email</span>-->
<!--    </app-input>-->

<!--    <app-button>-->
<!--      Submit-->
<!--    </app-button>-->

<!--    -->
<!--  </div>-->


  <form >

    <input type="text" placeholder="Enter your email"  required formControlName="Enter your email">
    <ul>
      <li>Check your Email</li>
      <li>Reset your password</li>
    </ul>

    <button>Submit</button>
    <p>_Or continue with_</p>

  </form>


</div>




