img {
  opacity: .3;
}

.container {
  display: flex;
  background-color: var(--backgroundColor);
  justify-content: space-around;
  height: calc(100vh - 140px);
  color: var(--fontColor);
}
form{
  display: flex;
  flex-direction: column;
}

p {
  text-align: center;
  font-size: 20px;
}

input {
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: var(--inputColor);
  width: 500px;
  margin: 10px;
  padding: 20px;
  font-size: 15px;
}


button {
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: var(--buttonColor);
  width: 550px;
  margin: 10px;
  padding: 20px;
  font-size: 15px;
  cursor: pointer;
}
