<div class="page-container">

  <!-- Left Section: Skeleton Animation -->
  <div class="skeleton-container">
    <img src="head.png" alt="Head" class="skeleton-part head"/>
    <img src="chest.png" alt="Chest" class="skeleton-part torso"/>
    <img src="left-arm.png" alt="Left Arm" class="skeleton-part left-arm"/>
    <img src="right-arm.png" alt="Right Arm" class="skeleton-part right-arm"/>
    <img src="left-leg.png" alt="Left Leg" class="skeleton-part left-leg"/>
    <img src="right-leg.png" alt="Right Leg" class="skeleton-part right-leg"/>
  </div>

  <div class="btns-section">

    <p class="info-text">
      Take the next step toward better bone health.
      Upload your X-ray for analysis explore your reports or
      connect with a specialist for personalized care.
    </p>

    <div class="btns">
      <div class="btn-container">
        <img src="Hospital1.png" alt="Patient"/>
        <a routerLink="/patientLogin">
          <button type="button" class="btn" style="background-color: var(--buttons-color)">Patient</button>
        </a>
      </div>

      <div class="btn-container">
        <img src="Hospital2.png" alt="Specialist"/>
        <a routerLink="/specialist">
          <button type="button" class="btn" style="background-color: var(--buttons-color)">Specialist</button>
        </a>
      </div>
    </div>
  </div>

</div>
