<div>

  <table class="table">
    <thead>
    <tr>
      <th>Transaction ID</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>{{ transaction.transactionId }}</td>
      <td>${{ transaction.amount }}</td>
      <td
        [ngStyle]="{'color': transaction.paymentStatus === 'success' ? 'green' : 'red'}">{{ transaction.paymentStatus }}
      </td>
      <td>{{ transaction.transactionDate| date:'dd/MM/yyyy,  hh:mm:ss a'  }}</td>
    </tr>
    </tbody>
  </table>

</div>
