.table th,
.table td {
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding:1rem ;
}
.table tr:hover {
  background-color: #f1f1f1;
}

.table th {
  background-color: #f8f9fa;
}

.table {
  width: 50rem;
  margin: 0 auto;

}

div {
  margin: 0 auto;
  background-color: #f9f9f9;
  width: 55rem;
  min-height: 30rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}
