<div class="container">
  <form>
    <div class="input-group">
      <label for="email">Name or Email</label>
      <input type="text" id="email" class="form-control" placeholder="example@gmail.com">
    </div>

    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" class="form-control" placeholder="********">
    </div>
    <a routerLink="/forget-password"><span>Forget Password!</span></a>
    <button type="submit" class="btn-submit" routerLink="/specialist">Login</button>

    <p>Don't have an account? <a routerLink="/registerAsSpecialist">Register now!</a></p>

  </form>
</div>
