<div class="container ">
  <div class="homePage">
    <header>

      <img src="final.png">

      <ul>

        <a routerLink="/home" routerLinkActive="selected">
          <li>Home</li>
        </a>

        <a routerLink="/report" routerLinkActive="selected">
          <li>View report</li>
        </a>

        <a routerLink='/profile' routerLinkActive="selected">
          <li>Profile</li>
        </a>

      </ul>

      <ul class="login">
<!---->
<!--                <a routerLink="/Login" routerLinkActive="selected">-->
<!--                  <li>Log in</li>-->
<!--                </a>-->

<!--                <a routerLink="/PatientRegister" routerLinkActive="selected">-->
<!--                  <li>Sign Up</li>-->
<!--                </a>-->

        <a>
          <li class="last">Log out</li>
        </a>

      </ul>

    </header>

  </div>

</div>
