ul {
  list-style: none;
}

.container {
  background-color: var(--backgroundColor);
  margin: 0;
  padding: 10px 30px;
  color:var(--fontColor);
}


header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

img {
  width: 80px;
}

ul {
  display: flex;
  align-self: center;
  padding-right: 20px;
  color:var(--fontColor);
}

ul li {
  margin-left: 20px;
}

a {
  color:var(--fontColor);
  text-decoration: none;
}

.login .last {
  color: floralwhite;
  background-color: var(--buttonColor);
  padding: 10px;
  border-radius: 10px;
}

.selected {
  color: #007bff;
  font-weight: bold;
}

@media (max-width: 1024px) {
  header {
    padding: 20px 30px;
  }

  header img {
    width: 120px;
  }

  header ul {
    gap: 20px;
  }

  header ul a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 20px;
    align-items: flex-start;
  }

  header img {
    width: 100px;
    margin-bottom: 10px;
  }

  header ul {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .login {
    margin-left: 0;
  }
}
.theme-switch {
  border: none;
  border-radius: 50%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.theme-switch img:last-child{
  display: none;
}
.darkMode .theme-switch img:first-child {
  display: none;
}
.darkMode .theme-switch img:last-child {
  display: block;
}
