<div class="container">

  <img src="skeleton.png">


  <form>

    <input type='text' placeholder="Email Or username">
    <input type='password' placeholder="Your password">
    <a routerLink="/forget-password"><span>Forget Password ?</span></a>
    <button>Login</button>
    <a ><p>_Or continue with_</p></a>
    <div class="log">
      <div>
        <img src="search 1.png">
        <p>Sign up with Google</p>
      </div>
      <div>
        <img src="facebook 1@2x.png">
        <p>Sign up with Facebook</p>
      </div>

    </div>

    <!--      <app-input placeholder="Username or Email">-->
    <!--        <span input-label>Username or Email</span>-->
    <!--      </app-input>-->

    <!--      <app-input placeholder="Password" type="password">-->
    <!--        <span input-label>Password</span>-->
    <!--      </app-input>-->
  </form>
</div>




