.container {
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.78);
  height: 100%;
  gap: 2rem;
  border-radius: 4px;
  background-color: rgba(128, 128, 128, 0.23);
}

span {
  color: red;
  font-weight: bold;
  display: block;
  margin: 1rem 0 .2rem 0;
}

.details {
  padding: 3rem 1rem;
  border-radius: 4px;
  height: 30rem;
  width: 30%;
  border-right: 1px solid gray;
}

.history {
  width: 70%;
}
