<div class="container">

  <div class="details">
    <div *ngIf="userProfile">
      <h2>User Profile</h2>
      <span><STRONG>Name:</STRONG></span>
      <p>{{ userProfile.userName }}</p>
      <p><span><STRONG>Email:</STRONG></span> {{ userProfile.email }}</p>
      <p *ngIf="userProfile.phoneNumber">
        <span><strong>Phone:</strong></span> {{ userProfile.phoneNumber }}</p>

      <div *ngIf="role === 'specialist' && rating !== null">
        <p><strong>⭐ Rating:</strong> {{ rating }} / 5</p>
      </div>
    </div>
  </div>

  <div class="history">

  </div>

</div>
