<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="my-sidebar col-auto col-md-3 col-xl-2 px-sm-2 px-0 " style="'background:red;">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/GraduationProject/public"
           class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="nav-title fs-5 d-none d-sm-inline">Admin Controls</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

          <li class="nav-item">
            <a class="nav-link align-middle px-0" routerLink="/deletePatient">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Delete a patient</span>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/deleteSpecialist" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Delete a Specialist</span>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/restoreSpecialist" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Restore a Specialist</span>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/restorePatient" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Restore a Patient</span>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/emails" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Specialists Emails</span>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/paymentTransaction" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">All Payment Transactions</span>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/emails" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline"></span>
            </a>
          </li>

        </ul>
        <hr>
      </div>
    </div>


    <div class="col py-3">
      <div class="row">
        <div class="col-md-8 tab">
          <table class="table table-striped table-hover">
            <thead class="bg-dark text-white">
            <tr>
              <th>User</th>
              <th>Number</th>
              <th>Percentage</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Active Patient</td>
              <td>{{ patientsCount }}</td>
              <td>{{ patientsPercentage |number:'1.0-0' }}%</td>
            </tr>
            <tr>
              <td>Active Specialist</td>
              <td>{{ specialistsCount }}</td>
              <td>{{ specialistsPercentage|number:'1.0-0' }}%</td>
            </tr>
            <tr>
              <td>Inactive Specialist</td>
              <td>{{ deletedSpecialistsCount }}</td>
              <td>{{ deletedSpecPercentage|number:'1.0-0' }}%</td>
            </tr>
            <tr>
              <td>Inactive Patients</td>
              <td>{{ deletedPatientsCount }}</td>
              <td>{{ deletedPatPercentage|number:'1.0-0' }}%</td>
            </tr>
            <tr>
              <td>Total Payment</td>
              <td>{{ totalPayments }}</td>
              <td></td>
            </tr>
            </tbody>
          </table>
          <div>
            <h6>Payment</h6>
            <div
              class="pie-chart"
              [ngStyle]="{
                'background': 'conic-gradient(' +
                  successColor + ' 0% ' + successPercentage + '%, ' +
                  failureColor + ' ' + successPercentage + '% 100%)'
              }"
            >

            </div>
            <div class="legend">
              <div><span [style.background]="successColor"></span> Success<p
                class="perc">{{ successPercentage|number:'1.2-2' }}%</p>
              </div>
              <div>
                <span [style.background]="failureColor"></span> Failure<span>{{ failurePercentage|number:'1.2-2'}}%</span>

              </div>
            </div>
          </div>
        </div>

        <div class="chart-container">
          <div class="chart">
            <div class="chart-bar" [ngStyle]="getBarStyle(patientsPercentage)">
              <span>{{ patientsPercentage |number:'1.2-2' }}%</span>
            </div>
            <div class="chart-bar" [ngStyle]="getBarStyle(specialistsPercentage)">
              <span>{{ specialistsPercentage |number:'1.2-2' }}%</span>
            </div>

            <div class="chart-bar" [ngStyle]="getBarStyle(deletedSpecPercentage)">
              <span>{{ deletedSpecPercentage |number:'1.2-2' }}%</span>
            </div>

            <div class="chart-bar" [ngStyle]="getBarStyle(deletedPatPercentage)">
              <span>{{ deletedPatPercentage|number:'1.2-2' }}%</span>
            </div>


          </div>
          <div class="chart-labels">
            <span>Patient</span>
            <span>Specialist</span>
            <span>Inactive Specialist</span>
            <span>Inactive Patient</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

