<div class="container-fluid">

  <div class="btns">
    <div>
      <img src="camera.png" alt="Upload Image">
      <button type="button" class="btn-submit" (click)="fileInput.click()">Upload Image</button>
    </div>
    <div>
      <img src="backup.png" alt="Retrieve Image">
      <button type="submit" class="btn-submit" routerLink="/profile">Retrieve Image</button>
    </div>
    <div>
      <img src="baseline.png" alt="Consult a specialist">
      <button type="submit" class="btn-submit" routerLink="/consultation">Consult a specialist</button>
    </div>
  </div>


  <div>
    <label for="fileInput" class="upload-box">
      <div class="upload-content" (click)="fileInput.click()">
        <div class="upload-icon" *ngIf="!imageUrl">☁️</div>
        <p *ngIf="!imageUrl">Click to upload your image here</p>
        <img [src]="imageUrl" *ngIf="imageUrl" alt="Uploaded Image">
      </div>
    </label>
      <div>
        <button type="submit" class="btn-submit" id = "repo" routerLink="/report" [disabled]="!isImageUploaded" >Show report</button>
      </div>
  </div>
  <input type="file" id="fileInput" accept=".jpg,.png" (change)="onFileSelected($event)" #fileInput hidden>
</div>
