@import 'bootstrap/dist/css/bootstrap.min.css';


:root{
  --primary-color:white;
  --buttons-color:#6bb9f0;
  --input-color:#f2f1f4;
  --font-color:black;
  --forms-color:#f8f9fa;
  --upload-box-width:300px;
  --box-margin-top:10px;

}
a{
  list-style: none;
  text-decoration-line: none;
}


