<main>
  <img src="consult.png" class="back">

  <div class="container">

    <input type="text" placeholder="search for a consultant">

    <div class="user">
      <div>
        <div class="about">
          <img src="user 1.png" alt="img">
          <div class="info">
            <p>Dr.user</p>
            <p>Address</p>
            <p>Phone</p>
            <p>Email</p>
          </div>
        </div>
      </div>
      <a routerLink ='/chat' routerLinkActive><img src="messenger 1.png" alt=""></a>
    </div> <div class="user">
      <div>
        <div class="about">
          <img src="user 1.png" alt="img">
          <div class="info">
            <p>Dr.user</p>
            <p>Address</p>
            <p>Phone</p>
            <p>Email</p>
          </div>
        </div>
      </div>
      <a routerLink ='/chat' routerLinkActive><img src="messenger 1.png" alt=""></a>
    </div> <div class="user">
      <div>
        <div class="about">
          <img src="user 1.png" alt="img">
          <div class="info">
            <p>Dr.user</p>
            <p>Address</p>
            <p>Phone</p>
            <p>Email</p>
          </div>
        </div>
      </div>
      <a routerLink ='/chat' routerLinkActive><img src="messenger 1.png" alt=""></a>
    </div> <div class="user">
      <div>
        <div class="about">
          <img src="user 1.png" alt="img">
          <div class="info">
            <p>Dr.user</p>
            <p>Address</p>
            <p>Phone</p>
            <p>Email</p>
          </div>
        </div>
      </div>
      <a routerLink ='/chat' routerLinkActive><img src="messenger 1.png" alt=""></a>
    </div>

  </div>

</main>
