
.skeleton-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  overflow: hidden;
  position: relative;
  background-color: var(--backgroundColor);
}

.content {
  margin-bottom: 20%;
  max-width: 60%;
  //z-index: 2;
}

h1 {
  font-size: 2rem;
  color: #333;
}

p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #555;
}

.btns {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.patient-btn {
  background:var(--buttonColor) ;
  color: white;
}

.specialist-btn {
  background: var(--buttonColor);
  color: white;
}

.btn:hover {
  opacity: 0.85;
}


.skeleton-part {
  position: absolute;
  max-width: 300px;
  opacity: 0;
}


.head {
  top: 0;
  left: 60%;
  transform: translateX(-50%);
}

.torso {
  top: 0;
  left: 60%;
  transform: translateX(-50%);
}

.left-arm {
  top: 0;
  left: 60%;
  transform: translateX(-50%);
}

.right-arm {
  top: 0;
  left: 60%;
  transform: translateX(50%);
}

.left-leg {
  top: 0;
  left: 60%;
  transform: translateX(-50%);
}

.right-leg {
  top: 0;
  left: 60%;
  transform: translateX(50%);
}

@media (max-width: 1024px) {
  .skeleton-container {
    flex-direction: column;
    text-align: center;
  }

  .content {
    max-width: 100%;
  }

  .btn {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {

  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
  }

  .skeleton-part {
    max-width: 80px;
  }

  .btn {
    font-size: 0.9rem;
  }
}




