<main class="skeleton-container">
  <!-- Skeleton Parts -->
  <img src="head.png" alt="Head" class="skeleton-part head" />
  <img src="chest.png" alt="chest" class="skeleton-part torso" />
  <img src="left-arm.png" alt="Left Arm" class="skeleton-part left-arm" />
  <img src="right-arm.png" alt="right Arm" class="skeleton-part right-arm" />
  <img src="left-leg.png" alt="left Leg" class="skeleton-part left-leg" />
  <img src="right-leg.png" alt="Right Leg" class="skeleton-part right-leg" />
<!--  <img src="skeleton/pelvis.png" alt="Pelvis" class="skeleton-part pelvis" />-->

  <!-- Content -->
  <div class="content">
    <h1>Take the next step toward better bone health!</h1>
    <p>Upload your X-ray, explore your reports,<br> or connect with a specialist.</p>

    <div class="btns">
      <a routerLink="/patientLogin">
        <button class="btn patient-btn">Patient</button>
      </a>
      <a routerLink="/specialist">
        <button class="btn specialist-btn">Specialist</button>
      </a>
    </div>
  </div>
</main>
